// Colors
$background-primary: #22154d;
$background-secondary: #513e88;
$background-canvas: rgba(255, 255, 255, 0.1);
$background-aside: #2f2357;
$background-aside-grid: lighten($background-aside, 5%);
$text-color: #ffffff;
$link-color: #b19cd9;
$link-hover-color: lighten($link-color, 15%);

// Sizes
$aside-width: 300px;
$padding-primary: 20px;
$padding-secondary: 16px;
$gap: 20px;
$border-radius: 12px;

// Breakpoints
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

// Shadows
$card-shadow: 0 4px 6px rgba(143, 143, 143, 0.2);
